<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <connectionStrings>
    <add name="DbCleaning_Entities" connectionString="metadata=res://*/ModelDb.csdl|res://*/ModelDb.ssdl|res://*/ModelDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1,1433;initial catalog=DbCleaning_Krasnoperov;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection"
         connectionString="Data Source=127.0.0.1,1433;Initial Catalog=DbCleaning_Krasnoperov;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>